.badge {
  background-color: tomato;
  height: 30px;
  width: 30px;
  border-radius: 15px; /*height,width의 절반*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}
